@import './../../../styles/variables.scss';

.card{

	margin:10px;
	
	font-size: 18px;
	cursor: pointer;
	height: 280px;
	width: 180px;
	text-align: center;
	background-color: rgba(#2f3238,0.9);
	border-radius: 10px;
	
	

	.poster{
		width:160px;
		height: 200px;

	}
	
	

}

a{
		text-decoration: none;
		color: #9c9c9e;
		height: 280px;
		width: 180px;
	}
	a:hover{
		color: $hover-text-color;
	}