@import './../../styles/variables.scss';

.page{
	margin-left:40px;
	display:flex;
	flex-direction: column;
	width: 100%;
}
.information{
	display:flex;
	
	width: 100%;

	margin-top: 40px;

	
}
.poster{
	height:300px;
	box-shadow:3px 3px 3px 3px $component-bg-color;
	}
.about{
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.title{
	color: #eaebec;
	font-size: 26px;

	display: flex;
	align-items: center;
	justify-content:space-between;
	
}


.parametr{
display: flex;

}
.parametr_name{
	font-size: 20px;
	color: #6e6f75;
}
.parametr_value{
	margin-left:50px;
	color: #eaebec;
	font-size: 20px;
	margin-right: 40px;
}

.anotation{
	color: #959699;
	font-size: 18px;
	margin-top: 20px;
	margin-right: 40px;
}

