@import './../../../styles/variables.scss';


.carousel {
	color: $text-color;
	padding-left: 20px;
	font-size: 24px;
	
}
.carousel__list{
	display:flex;
	width:893px;
	height:320px;
	overflow:auto;

	}
