@import './../../../styles/variables.scss';

.search{
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
	background-color: $bg-color;
	margin-bottom:15px;
	margin-top: 15px;

i{
	color:#989896;
	margin-right:15px ;
}

	

input{
	width:500px;
	background-color: transparent;
	outline: none;
	color: #bfbfc2;
	margin-left: 0.5rem;
	border:none;
}
}
