$gray:#9b9a97;

.search{
	
	display: flex;
	align-items: center;
	border-radius: 30px;
	background-color: #000;
	border: 1px solid rgba($gray,0.4);
	margin-right: 15px;
	margin-top: 15px;



	div{
	display: flex;
	align-items: center;
}
i{
	margin-left: 10px;
}

input{
	background-color: transparent;
	outline: none;
	color: #fff;
	margin-left: 0.5rem;
	border: none;
}
}
