.navigateBar{
	max-width: 250px;
	height: 500px;
	width: 100%;
	background-color: #2f3239;

}


.title{
	font-size: 20px;
	color: #cccccc;
	padding-left: 25px;
}

	.navigation{
		list-style: none;
		li{
			padding-top:8px;
		}
		
		a{
			text-decoration: none;
			color: #9c9c9e;
			font-size: 20px;
			&:hover{
				color: #81ae65;
			}

		}
	}
