@import './../../../styles/variables.scss';


.navigateBar{
	max-width: 250px;
	height: 400px;
	width: 100%;
	background-color:$component-bg-color;
	border-radius: 0 0 20px;

}


.title{
	font-size: 20px;
	color: #cccccc;
	padding-left: 25px;
}

	.navigation{
		list-style: none;
		font-size: 20px;
		li{
			padding-top:8px;
			.a{
			text-decoration: none;
			color:$text-color;
			
			&:hover{
				color: $hover-text-color;
			}

			
			}
			}
	}



