
.Header{
	background-color:#26292e;
	height: 60px;
	display: flex;
}

.brand{
	height:30px;
	display: flex;
	margin-top: 15px;
	margin-left: 15px;
	font-size: 20px;
	color:#eaebec;
	text-decoration: none;
&:hover{
	color: #fff;
	opacity: 0.6;
	
}
}