$gray:#9b9a97;

.brand{
	display: flex;
	margin-top: 15px;
	margin-left: 15px;
	font-size: 20px;
	color: rgba($gray,0.9);
	text-decoration: none;

	
}


.Header{
	
	width: 100%;
	display: flex;
	justify-content: space-between;

	
}
